/fintv.sublime-workspace
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

favourites.txt
*~
addons_xml_generator.py

*.sh
.idea/*
!.idea/codeStyleSettings.xml
plugin.video.katsomo-1.2.8.zip
plugin.video.riemurasia-1.0.2.zip
plugin.video.ruutu-1.3.7.zip
plugin.video.yleareena-1.7.2.zip
